<form class="w-full max-w-md search-form flex">
    <input
        name="search"
        class="border px-4 py-1 w-full"
        placeholder="search..."
    >

    @!component('components/button', {
        type: 'submit',
        icon: 'search'
    })
</form>