@set('links', [
    {
        label: 'Home',
        href: '/'
    },
    {
        label: 'Youtube videos',
        href: '/youtube'
    },
    {
        label: 'Local videos',
        href: '/local'
    },
])

<ul class="py-5 px-8 w-full">
    @each(link in links)
        <li class="font-bold mb-4 text-gray-500 hover:text-blue-400">
            <a href="{{ link.href }} ">
                {{ link.label }}
            </a>
        </li>      
    @endeach

</ul>